{{#isRef}}{{{ref}}}{{/isRef}}
{{#isAny}}any{{/isAny}}
{{#isBasicDataType}}{{basicDataType}}{{/isBasicDataType}}
{{#isObject}}{{>t_model_object}}{{/isObject}}
{{#isArray}}{{>t_model_array}}{{/isArray}}
{{#isTuple}}{{>t_model_tuple}}{{/isTuple}}
{{#isIntersectionTypes}}{{>t_model_intersection_types}}{{/isIntersectionTypes}}
{{#isUnionTypes}}{{>t_model_union_types}}{{/isUnionTypes}}
