{{#properties}}

  /**
{{#descriptions}}
   * {{{.}}}
{{/descriptions}}
   * @type {{=<% %>=}}{<%jsDocDataType%>}<%={{ }}=%>
   * @memberof {{classname}}
{{#deprecated}}
   * @deprecated
{{/deprecated}}
   */
  {{key}}{{^required}}?{{/required}}: {{>t_model}}{{#nullable}} | null{{/nullable}}
{{/properties}}

{{#additionalPropertiesType}}
  [key: string]: {{#additionalPropertiesType}}{{>t_model}}{{/additionalPropertiesType}}
{{/additionalPropertiesType}}
