{{#model.isObject}}
/**
 * {{{model.description}}}
 * @export
 * @interface {{classname}}
 */
export {{#exportDefaulted}}default {{/exportDefaulted}}interface {{classname}} {{#extends}}extends {{{extends}}} {{/extends}}{
{{#model}}{{>t_properties}}{{/model}}
}
{{/model.isObject}}
{{#model.isArray}}
/**
 * {{{model.description}}}
 * @export
 * @interface {{classname}}
 */
export {{#exportDefaulted}}default {{/exportDefaulted}}interface {{classname}} extends Array{{#extends}}, {{{extends}}}{{/extends}} {{#implements}}implements {{{implements}}} {{/implements}}{
{{#model}}{{>t_properties}}{{/model}}
}
{{/model.isArray}}
{{^model.isObject}}
{{^model.isArray}}
export {{#exportDefaulted}}default {{/exportDefaulted}}type {{{classname}}} = {{#model}}{{>t_model}}{{/model}}
{{/model.isArray}}
{{/model.isObject}}
